Repository RJNila/ecosystem-builder, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RJNila/backend-leads, @RJNila/devops-leads, @RJNila/platform

.github/CODEOWNERS:

# --- Default: if nothing else matches, require backend-leads (lead-only) ---
*                                   @RJNila/backend-leads

# --- App / API / domain code (lead-only) ---
app/**                              @RJNila/backend-leads
api/**                              @RJNila/backend-leads
services/**                         @RJNila/backend-leads
dtos/**                             @RJNila/backend-leads
db/**                               @RJNila/backend-leads
tests/**                            @RJNila/backend-leads

# --- CI/CD and DevOps-owned bits (lead-only for DevOps) ---
.github/workflows/**                @RJNila/devops-leads
buildspec*.yml                      @RJNila/devops-leads
Dockerfile                          @RJNila/devops-leads
k8/**                               @RJNila/devops-leads
helm/**                             @RJNila/devops-leads
infra/**                            @RJNila/devops-leads
terraform/**                        @RJNila/devops-leads

# --- Optional: production env config requires platform managers too ---
env-config-prod/**                  @RJNila/platform
k8/prod/**                          @RJNila/platform

chore: trigger PR template check
  README.md
Owners: @RJNila/backend-leads

updated Readme
  README.md
Owners: @RJNila/backend-leads

Organization
  .coverage
  .env.local
  README.md
  app/__pycache__/main.cpython-313.pyc
  app/api/v1/routes/__pycache__/organization.cpython-313.pyc
  app/api/v1/routes/organization.py
  app/core/__pycache__/config.cpython-313.pyc
  app/core/config.py
  app/db/__pycache__/database.cpython-313.pyc
  app/db/__pycache__/session.cpython-313.pyc
  app/db/database.py
  app/db/models/__pycache__/organization.cpython-313.pyc
  app/db/models/organization.py
  app/db/session.py
  app/dependencies/__pycache__/db.cpython-313.pyc
  app/dependencies/db.py
  app/dtos/__pycache__/organization.cpython-313.pyc
  app/dtos/organization.py
  app/main.py
  app/services/__pycache__/organization_service.cpython-313.pyc
  app/services/organization_service.py
  gitignore
  pytest.ini
  requirements.txt
  test/__pycache__/conftest.cpython-313-pytest-8.4.2.pyc
  test/__pycache__/test_api_organization.cpython-313-pytest-8.4.2.pyc
  test/__pycache__/test_dtos.cpython-313-pytest-8.4.2.pyc
  test/__pycache__/test_organization_service.cpython-313-pytest-8.4.2.pyc
  test/conftest.py
  test/test_api_organization.py
  test/test_dtos.py
  test/test_organization_service.py
Owners: @RJNila/backend-leads

fixed ruff
  app/db/models/__pycache__/organization.cpython-313.pyc
  app/db/models/organization.py
  test/__pycache__/conftest.cpython-313-pytest-8.4.2.pyc
  test/__pycache__/test_api_organization.cpython-313-pytest-8.4.2.pyc
  test/__pycache__/test_organization_service.cpython-313-pytest-8.4.2.pyc
  test/conftest.py
  test/test_api_organization.py
  test/test_organization_service.py
Owners: @RJNila/backend-leads

fixed mypy
  app/__init__.py
  app/api/__init__.py
  app/api/v1/__init__.py
  app/core/__init__.py
  app/db/__init__.py
  app/db/models/__init__.py
  app/dependencies/__init__.py
  app/dtos/__init__.py
  app/services/__init__.py
Owners: @RJNila/backend-leads

fixed mypy
  app/core/config.py
Owners: @RJNila/backend-leads

post merge buildspec-ecr
  buildspec-ecr.yml
Owners: @RJNila/devops-leads

post merge buildspec-ecr
  buildspec-ecr.yml
Owners: @RJNila/devops-leads

post merge buildspec-ecr
  .dockerignore
  Dockerfile
Owners: @RJNila/backend-leads, @RJNila/devops-leads

post merge buildspec-ecr
  Dockerfile
Owners: @RJNila/devops-leads

post merge buildspec-ecr
  buildspec-ecr.yml
Owners: @RJNila/devops-leads

post merge buildspec-ecr
  buildspec-ecr.yml
Owners: @RJNila/devops-leads

post merge buildspec-ecr
  buildspec-ecr.yml
Owners: @RJNila/devops-leads

post merge buildspec-ecr
  buildspec-ecr.yml
Owners: @RJNila/devops-leads

post merge buildspec-ecr
  buildspec-ecr.yml
Owners: @RJNila/devops-leads
